


/* 第一页 */
.page1 {
	background:url(image/夜空.jpg);
}

.page1 img {
	position: absolute;
}

.page1 img:nth-of-type(1) {
	/* 所有样式以REM为单位：把测出来的PX除以100即可 */
	width: 6rem;
	height: 6rem;
	left: 0.0rem;
	bottom: 0rem;
}

.page1 img:nth-of-type(2) {
	width: 3.5rem;
	height: 3.57rem;
	top: 2rem;
	left: 0.5rem;
}

.page1 img:nth-of-type(3) {
	width: 1.5rem;
	height: 1.5rem;
	right: .2rem;
	top: 0.5rem;
}

